.home-container {
    background-image: url('../../Asset/BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

  }
  .home-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    color :white ;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }